* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f8f5;
    color: #252525;
}

header {
    width: 100%;
    padding: 20px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f4f8f5;
}

header h1 {
    font-size: 32px;
    letter-spacing: 3px;
    color: #58a97c;
}

.presentacion {
    min-height: calc(100vh - 80px); 
    padding: 20px 10% 40px 10%; 
    display: flex;
    align-items: center; 
    position: relative;
}

.texto-presentacion {
    width: 45%;
    z-index: 2;
}

.subtitulo {
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 2px;
    color: #65727d;
    margin-bottom: 10px; 
 }

.texto-presentacion h2 {
    font-size: 42px;
    font-weight: normal;
    margin-bottom: 15px; 
    color: #326748;
}

.texto-presentacion p {
    line-height: 1.7;
    margin-bottom: 12px;
    color: #555;
    max-width: 500px;
}

.imagenes-presentacion {
    width: 55%;
    height: 480px; 
    position: relative;
}

.imagen-secundaria {
    width: 350px;
    height: 280px;
    object-fit: cover;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}

.imagen-principal {
    width: 350px;
    height: 380px;
    object-fit: cover;
    position: absolute;
    top: 90px;
    right: 120px;
    z-index: 2;
}


footer {
    background-color: #1e2922;
    color: white;
    text-align: center;
    padding: 40px;
}

footer p {
    margin: 5px;
}
.tarjetas {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    width: 100%;
}

.tarjeta {
    width: 300px;
    text-decoration: none;
    color: black;
}

.tarjeta img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    display: block;
}

.tarjeta h3 {
    text-align: center;
    margin-top: 15px;
}